Cython==0.18
Flask==0.9
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
Jinja2==2.6
SQLAlchemy==0.7.9
Tempita==0.5.1
WTForms==1.0.2
Werkzeug==0.8.3
decorator==3.4.0
gunicorn==0.17.4
psycopg2==2.5
python-memcached==1.48
sqlalchemy-migrate==0.7.2
wsgiref==0.1.2
