<!DOCTYPE>
<html lang=eng>
    <head>
	<meta charset="utf-8">
	<title>Where Are You Tweeting From?</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/docs.css" rel="stylesheet">
	<link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
	<div class="container">
	    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		    <a class="brand" href="/">Home</a>
		    <ul class="nav">
			<li class="active"><a href="about_project">About Project</a></li>
			<li><a href="/top_words">Top Words</a></li>
			<li><a href="/">Classify Text</a></li>
		    </ul>
		</div>
	    </div>
	    <div class="content">
		<div class="container-fluid">
		    <h1>Where Are You Tweeting From?</h1>
		    <div class="row-fluid">
			<div class="span2 bs-docs-sidebar">
			    <ul class="nav nav-list bs-docs-sidenav">
				<br>
				<br>    
				<li><a href="/part1/gathering_tweets">Part 1: Gathering Data Using Twitter Streaming API</a></li>
				<br>
				<li><a href="/part2/data_visualization">Part 2: Visualizing Tweets Using Google Maps V3 Fusion Table</a></li>
				<br>
				<li><a href="/part3/text_classification">Part 3: Implementing Naiive Bayes Text Classifier</a></li>
				<br>
				<li><a href="/part4/feature_selection">Part 4: Mutual Information to Select Top 30 Words in City</a></li>
			    </ul>
			</div>
			<div class="span10">
			    <div id="project">
				<h4> I have gathered 8735 tweets in total (between the dates of April 6th-April 26th 2013) within 150 miles of 9 major cities in America in hopes to find discover unique regional text patterns. I will be walking you through what I have done in hopes that it can be recreated and perhaps even perfected by another curious soul. You can find the complete source code on Github under the name "aaahluwal". Happy coding!</h4>
				<h3>These links are currently under construction!</h3>
			    </div>	
			</div>
		    </div>
		</div>
	    </div>
	</div>

    </body>
    


</html>
