<!DOCTYPE>
<html lang=eng>
    <head>
	<meta charset="utf-8">
	<title>Where Are You Tweeting From?</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/docs.css" rel="stylesheet">
	<link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
	<div class="container">
	    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		    <a class="brand" href="/">Home</a>
		    <ul class="nav">
			<li><a href="/about_project">About Project</a></li>
			<li><a href="/top_words">Top Words</a></li>
			<li><a href="/">Classify Text</a></li>
		    </ul>
		</div>
	    </div>
	    <div class="content">
		<div class="container-fluid">
		<p><h5>We'll be using the Twitter streaming API (fondly referred to as the 'Garden Hose') as our source of data. You will need to create a developer account at https://dev.twitter.com/. After you do this, log in and find the little egg shaped icon on the top right. In the drop down menu, select "My Applications" and under OAuth tools, you'll find your </h5></p>
		<div><br>
		     <p>Consumer key*</p>
		     <p>Consumer secret*</p>
		     <p>Access token*</p> 
		     <p>Access token secret*</p> 
		     <p><h5>You'll include these near the top of your tweet gathering script. They are necessary to successfully communicate with the api.</h5></p>
		     <br>
		     <p><h5>You now need to install Tweepy, a Python-Twitter-Client/helper library that will simplify our experience using the Streaming API.  Pip installing Tweepy will get us the most up to date version of the module. Now we can create the python script we will use to gather the Twitter information we want.</h5></p>
		     
		     <p><h4>Tweepy supports OAuth Authentication</h4></p>
		     <p><h5>First, create the OAuthHandler instance, into which we pass in our consumer token and secret</h5></p>
		     <p>auth = tweepy.OAuthHandler(consumer_key, consumer_secret)</p>
		     <p><h5>We also include these lines:</h5></p>
		     <p>auth.set_access_token(access_key, access_secret)</p>
		     <p>api = tweepy.API(auth)</p>
		     <p><h5>These make it so that we can re-create the OAuthHandler time and again from our stored token, and is ready to connect.</h5></p>
		     
		     <p><h4>Stream listener</h4></p>
		     <p><h5>Twitter's stream creates an HTTP connection and sends over JSON holding the tweet data we want.   
			 To process tweets we need to implement a Stream Listener class, which inherits from our tweepy module.</h5></p>
		     <p>class CustomStreamListener(tweepy.StreamListener):</p>
		     <br>
		     <p><h5>Since Twitter puts a rate limit on us, we should we should be cognizant of the number of tweets we have read, the the amount of time we spend gathering tweets.  In my case, I instantiated the stream listener with an attribute of number of tweets read equal to 0.</h5></p>
		     <br>
		     <p>def __init__(self):
		     <br>
		     <t>super(CustomStreamListener, self).__init__()
		     <br>
		     <t>self.num_read = 0</t></t></p>

		</div>
	    </div>
	</div>
    </body>
</html>
