<!DOCTYPE>
<html lang=eng>
    <head>
	<meta charset="utf-8">
	<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<title>Where Are You Tweeting From?</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/docs.css" rel="stylesheet">
	<link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<script>
	    var wordListToListElements = function(wordList) {
		var listElements = [];
		for (var i = 0; i < wordList.length; i++) {
		    var word = wordList[i];
		    var $listElement = $('<li>').text(word);
		    listElements.push($listElement);
		}
		return listElements;
	    }

	    $(document).ready(function() {
		$('.losAngeles').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["Los Angeles"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["Los Angeles"] | safe}};
			$featureCount.text(featureCount + " Unique Words in Los Angeles");
			$('.losAngeles').animate({
			    fontSize: "20px"
			});
		    },
		    
		    
		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.losAngeles').animate({
			    fontSize: "15px"
			});
		    
		    }
		);
	    });
	    
	    $(document).ready(function() {
		$('.newYork').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["New York"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["New York"]| safe}};
			$featureCount.text(featureCount + " Unique Words in New York");
			$('.newYork').animate({
			    fontSize: "20px"
			});
		    },
		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.newYork').animate({
			    fontSize: "15px"
			});
		} )
		});
		    
	    $(document).ready(function() {
		$('.miami').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["Miami"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["Miami"]|safe}};
			$featureCount.text(featureCount+ " Unique Words in Miami");
			$('.miami').animate({
			    fontSize: "20px"
			});
		    },

		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.miami').animate({
			    fontSize: "15px"
			});
		    }  )
		});

	    $(document).ready(function() {
		$('.chicago').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["Chicago"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["Chicago"]|safe}};
			$featureCount.text(featureCount+ " Unique Words in Chicago");
			$('.chicago').animate({
			    fontSize: "20px"
			});
		    },
		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.chicago').animate({
			    fontSize: "15px"
			});
		    } )
		});

	    $(document).ready(function() {
		$('.atlanta').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["Atlanta"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["Atlanta"]|safe}};
			$featureCount.text(featureCount+ " Unique Words in Atlanta");
			$('.atlanta').animate({
			    fontSize: "20px"
			});
		    },
		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.atlanta').animate({
			    fontSize: "15px"
			});
		    }	)
		    });
	    $(document).ready(function() {
		$('.sanFrancisco').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["San Francisco"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["San Francisco"]|safe}};
			$featureCount.text(featureCount+ " Unique Words in San Francisco");
			$('.sanFrancisco').animate({
			    fontSize: "20px"
			});
		    },
		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.sanFrancisco').animate({
			    fontSize: "15px"
			});
		    } )
		} );

	    $(document).ready(function() {
		$('.houston').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["Houston"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["Houston"]|safe}};
			$featureCount.text(featureCount+ " Unique Words in Houston");
			$('.houston').animate({
			    fontSize:"20px"
			});
		    },
		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.houston').animate({
			    fontSize: "15px"
			});
		    } )
		} );
	    $(document).ready(function() {
		$('.boston').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["Boston"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["Boston"]|safe}};
			$featureCount.text(featureCount+ " Unique Words in Boston");
			$('.boston').animate({
			    fontSize: "20px"
			});
		    },
		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.boston').animate({
			    fontSize: "15px"
			});
		    } )
		});
	    $(document).ready(function() {
		$('.seattle').hover(
		    function() {
			var $features = $('.features');
			$features.empty();
			var features = {{feature_strings_dict["Seattle"] | safe}};
			$listElements = wordListToListElements(features);
			$features.append($listElements);
			var $featureCount = $('.featureCount');
			var featureCount = {{city_corpus_leng_dict["Seattle"]|safe}};
			$featureCount.text(featureCount+ " Unique Words in Seattle");
			$('.seattle').animate({
			    fontSize: "20px"
		     });
		    },
		    function() {
			$('.features').empty();
			$('.featureCount').empty();
			$('.seattle').animate({
			    fontSize: "15px"
			});
		    })
		});


	</script>
    </head>
    <body>
	<div class="container">
	    <div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
		    <a class="brand" href="/">Home</a>
		    <ul class="nav">
			<li><a href="/about_project">About Project</a></li>
			<li><a href="/top_words">Top Words</a></li>
			<li class="active"><a href="/">Classify Text</a></li>
		    </ul>
		</div>
	    </div>
	    <div class="content" style="margin-top: 50px">
		<form class="form-search" action="/classify_text" method="POST">
		    <textarea name="tweet" rows="3" style="width:1200px;" placeholder='Type in a past tweet. The more of your past history you include, the more accurate this will be'.>{{tweet}}</textarea>

		    <button type="submit" class="btn">Search</button>
		</form>
		<div class="container-fluid">
		    <span><h1>Where Are You Tweeting From?</h1><span class="winner"><h2>Winner: {{names[0]}}</h2></span></span>

		    <div class="row-fluid">
			<div class="span2">
			    <div>
				<h3>City Ranking</h3>
			    </div>
			    <ol class="city_names">
				    {% for i in range(names|count) %}
					{% if names[i] == 'Los Angeles': %}
					    <li class="losAngeles">{{names[i]}}</li>
					    <br>
					{% elif names[i] == 'New York': %}
					    <li class="newYork">{{names[i]}}</li>
					    <br>
					{% elif names[i] == 'Miami': %}
					    <li class="miami">{{names[i]}}</li>
					    <br>    
					{% elif names[i] == 'Boston': %}
					    <li class="boston">{{names[i]}}</li>
					    <br>    
					{% elif names[i] == 'Atlanta': %}
					    <li class="atlanta">{{names[i]}}</li>
					    <br>    
					{% elif names[i] == 'San Francisco': %}
					    <li class="sanFrancisco">{{names[i]}}</li>
					    <br>    
					{% elif names[i] == 'Chicago': %}
					    <li class="chicago">{{names[i]}}</li>
					    <br>    
					{% elif names[i] == 'Houston': %}
					    <li class="houston">{{names[i]}}</li>
					    <br>    
					{% else: %}
					<li class="seattle">{{names[i]}}</li>
					    <br>    
					{% endif %}
				    {% endfor %}
			    </ol>
			</div>
			<div class="span2">
			    <div>
				<span><h4>Hover over city for key features</h4></span>
				<br>
				
				<h5 class="featureCount"> </h5>
			    </div>
			    <br>
			    <ul class="features"> 
			
			    </ul>
			</div>
			<div class="span8">
			    <div>
				<iframe width="800" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=MAP&amp;q=select+col4+from+1FNkK0cKm6in_ddkn8yVD5yKYktE4mqNtqOMjm9g&amp;h=false&amp;lat=39.759981559305506&amp;lng=-94.70590703125002&amp;z=4.5&amp;t=1&amp;l=col4&amp;y=2&amp;tmplt=2"></iframe>
				<h2>Tweets Across the US Are Assigned to Major US Cities Ranked Highly Active On Twitter</h2>
			    </div>	
			</div>
		    </div>
		</div>
	    </div>
	</div>

    </body>
    


</html>
